{# On indique de quel template on hérite.
   Le chemin est à indiquer depuis le répertoire racine des templates (templates/) #}
   {% extends "base.html.twig" %}

   {# On déclare les blocs dont on souhaite écraser le contenu.
      Les autres blocs garderont le contenu indiqué dans le template parent #}
   {% block body %}
   
       {# Menu qui sera affiché sur toutes les pages du Front-Office #}
       <nav class="navbar has-background-grey-darker is-dark">
           <div class="navbar-brand">
               <a class="navbar-item" href="#">
                   <p class="subtitle is-4 has-text-primary">
                    <b><i class="fas fa-headphones-alt fa-x"></i> MusicWorld</b>
                   </p>
               </a>
   
               <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                   <span aria-hidden="true"></span>
                   <span aria-hidden="true"></span>
                   <span aria-hidden="true"></span>
               </a>
           </div>
   
           <div id="navbarBasicExample" class="navbar-menu">
               <div class="navbar-start">
                   <a class="navbar-item" href="#">
                       Artistes
                   </a>
   
                   <a class="navbar-item" href="#">
                       Nouveautés
                   </a>
               </div>
   
               <div class="navbar-end">
                   <div class="navbar-item">
                       <div class="buttons">
                           <a class="button is-primary is-small" href="#">
                               <strong>Inscription</strong>
                           </a>
                           <a class="button is-light is-small" href="#">
                               Connexion
                           </a>
                       </div>
                   </div>
   
                   <a class="navbar-item">
                       <form action="#">
                           <div class="field has-addons">
                               <div class="control is-expanded">
                                   <input name="query" type="text" class="input is-small" placeholder="Recherche ..." required>
                               </div>
                               <div class="control">
                                   <button type="submit" class="button is-primary is-small">
                                       <i class="fas fa-search"></i>
                                   </button>
                               </div>
                           </div>
                       </form>
                   </a>
               </div>
           </div>
       </nav>
   
       {# Bloc qui contiendra le contenu de chaque page #}
       {% block content %}{% endblock %}
   
   {% endblock %}