<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} Welcome {% endblock %} | MusicOfWord </title>
        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}


        {% block js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>

</html>